name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tests
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - run: pip install meson ninja
      - run: meson setup builddir/
        env:
          CC: gcc
      - run: pip install numpy
      - run: meson test -C builddir/ -v
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: Linux_Meson_Testlog
          path: tests/builddir/meson-logs/testlog.txt



